.icon-home:before { content: '\e802'!important; }
.icon-mail:before { content: '\e800'; } /* '' */
.icon-folder:before { content: '\e801'; } /* '' */
.icon-help:before { content: '\f128'; } /* '' */

@font-face {
      font-family: 'fontello';
      src: url('./fontello/fontello.eot');
      src: url('./fontello/fontello.eot') format('embedded-opentype'),
           url('./fontello/fontello.woff') format('woff'),
           url('./fontello/fontello.ttf') format('truetype'),
           url('./fontello/fontello.svg') format('svg');
      font-weight: normal;
      font-style: normal;
    }

.flex{
  display: flex !important;
}

.none{
  display: none !important;
}

#wrapper{
  border: 1px solid red;
}
